.carContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.carAmount {
  color: #727272;
  margin: 1em;
}

.carCards {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  flex: 0 1 10%;
  padding: 0 2em 4em 2em;
  border-right: 1px solid lighten(gray, 30%);
  border-bottom: 1px solid lighten(gray, 30%);
  height: 40em;

  &:nth-of-type(3) {
    border-right: 0;
  }

  button {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    user-select: none;
    transition: .4s ease-in-out;
    &:hover {
      user-select: none;
      transition: .4s ease-in-out;
      background-color: #FFFFFF;
      border-radius: 0.5em;
    }

    &:disabled {
      display: none;
    }
  }

}

.flag {
  position: absolute;
  transform: rotate(45deg);
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 65px solid #727272;
  left: 23.8em;
  top: 3em;
}

.flagHybrid {
  border-bottom: 65px solid #4FA9CD;
}

.flagElectric {
  border-bottom: 65px solid #93CC5D;
}

.flagPowerType {
  transform: rotate(45deg);
  position: absolute;
  left: 25.5em;
  top: 5em;
  color: #FFFFFF;
}

.flagPowerGas {
  top: 4.8em;
  left: 26em;
}

.car {
  flex: 0 1 100%;
  background-color: #FFFFFF;
  height: 88%;
  padding: 0.5em;
  box-shadow: 1px 1px 1px 2px lighten(gray, 20%);
  border-radius: 0.2em;
  margin-bottom: 1.5em;
}

.carPhotos {
  max-height: 20em;
}

.carInfoContainer{
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em;
}

.modelLabel {
  color: #878787;
}

.modelInfo {
  flex: 0 1 100%;
  font-size: 2em;
  margin: 0.3em 0 0.3em 0;
}

.carLabels {
  // background-color: pink;
  color: #878787;
  flex: 1 0 33%;
}
    
.carInfo {
  flex: 0 1 50%;
  font-size: 2em;
  margin: 0.3em 0 0.3em 0;
  color: #000000;
}

.hybridCarInfo {
  flex: 0 1 33%;
  font-size: 2em;
  margin: 0.3em 0 0.3em 0;
}

.hybridM {
  text-align: center;
}

.stateIncentiveHeader {
  flex: 0 1 100%;
  color: #878787;
  margin: 0.3em 0 0.3em 0;
  padding-left: 0.5em;
}

.stateIncentiveIcons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.5em;
}

.icons {
  flex: 0 1 16%;
  text-align: center;
}

.placeholderCar {
  margin-top: 3.4em;
  width: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.gasPlaceholder {
  background-color: #727272; 
}

.hybridPlaceholder {
  background-color: lighten(#4FA9CD, 10%);
}

.electricPlaceholder {
  background-color: lighten(#93CC5D, 10%);
}

.placeholderMsg {
  font-size: 2em;
  font-style: italic;
  margin: 1em; 
}
