.epaGraphs {
  background-color: lavender;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-around;
  width: 100vw;

  div {
    width: 30vw;
  }

 // .c3-event-rect-0 {
	// 	  width: 33vw;
 // }
}


.c3-chart-arcs-background {
	fill: #BFC4C7;
}