#costContainer {
	margin-top: 5%;
}

#epaContainer {
margin-top: 1em;
margin-top: 5%;
text-align: center;
justify-content: center;

h3{
font-family: Roboto;
font-weight: 300;
margin-bottom: 1em;
}

}
.bottomBorder {
	width: 85vw;
	margin-left: 7.5%;
	border-bottom: 1px rgba(40,40,40, 0.20) solid;
}