.icons {
  .grayIcon {
    fill: #D1D3D4;
  }

  .blueIcon {
    fill: #4FA9CD; 
  }

  .greenIcon {
    fill: #93CC5D;
  }
}

.incentiveBox {
  display: none;
  height: 100%;
  width: 100%;
  opacity: 1.0;
  transition: .4s ease-in-out;
  position: relative;
  .triangle {
    margin-left: 35%;
    width: 0px;
    height: 0px;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 10px white solid;
  }
  .box {
    background-color: white;
    padding: 0.5em;
    margin-left: 8%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    output{
      font-size: 1em;
    }
  }
}

svg:hover ~ .incentiveBox {
  opacity: 1.0;
  display: block;
}